.select_bill{
	padding: 26upx 36upx;
}
.bill_item{
	height: 80upx;
	background-color: #ffffff;
	box-shadow: 0px 0px 9upx 1upx 
		rgba(0, 0, 0, 0.05);
	border-radius: 10upx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 26upx;
	font-size: 22upx;
	color: #333333;
}
.right_icon{
	width: 15upx;
	height: 22upx;
}
.bill_main{
	background-color: #ffffff;
	box-shadow: 0px 0px 9upx 1upx 
		rgba(0, 0, 0, 0.05);
	border-radius: 10upx;
	padding-bottom: 30upx;
}
.bill_top{
	height: 80upx;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24upx;
	color: #333333;
}

.bill_table{
	
}
.table_tr{
	display: flex;
	width: 725upx;
	margin: 0 auto;
	border-top: solid 1upx #d1d1d1;
}
.table_tr:last-child{
	border-bottom: solid 1upx #d1d1d1;
}
.table_th,.table_td{
	width: 70upx;
	height: 100upx;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24upx;
	color: #333333;
	/* border-bottom: solid 1px #d1d1d1; */
	border-right: solid 1upx #d1d1d1;
}
.table_td{
	height: 60upx;
}
.table_th:last-child,.table_td:last-child{
	border-right: none;
}
.table_th_105,.table_td_105{
	width: 105upx;
}
.edit_btn{
	width: 80upx;
	height: 40upx;
	background-color: #00b0fc;
	border-radius: 6upx;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20upx;
	color: #ffffff;
}
.red{
	color: #f00;
}


.company_popup{
	width: 678upx;
	background-color: #ffffff;
	border-radius: 20upx;
	padding: 0 16upx 28upx;
}
.company_title{
	height: 70upx;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24upx;
	color: #000000;
	border-bottom: solid 1px #f1f1f1;
}
.company_info_item{
	height: 70upx;
	display: flex;
	align-items: center;
	font-size: 24upx;
	color: #000000;
	border-bottom: solid 1px #f1f1f1;
	padding-left: 19upx;
}
.company_item_title{
	width: 130upx;
	font-size: 20upx;
	color: #000000;
}
.company_item_input{
	flex: 1;
	font-size: 20upx;
	color: #000000;
}
.company_submit_btn{
	width: 400upx;
	height: 70upx;
	background-color: #d1d1d1;
	border-radius: 35upx;
	margin: 0 auto;
	margin-top: 30upx;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30upx;
	color: #ffffff;
}

.company_info_li{
	height: 80upx;
	border-radius: 10upx;
	border: solid 1px #e9e9e9;
	display: flex;
	align-items: center;
	padding: 0 30upx;
	font-size: 22upx;
	color: #666;
	margin-bottom: 25upx;
}
.company_info_li_title{
	font-size: 24upx;
	color: #000000;
	width: 120upx;
}