.page{
	height: 100vh;
}
.uni-swiper-tab{
	height: 102upx;
	line-height: 0;
	border-bottom: solid 1px #EEEEEE;
}
.swiper-tab-list{
	width: calc(100% / 4);
	font-size: 24.17upx;
	color: #333333;
	height: 100upx;
	line-height: 100upx;
}
.swiper-tab-list.active{
	color: #00b0fc;
	border-bottom: solid 2px #00b0fc;
}
.swiper-box{
	height: calc(100% - 104upx);
	background: #FAFAFA;
}
.list{
	height: 100%;
	padding: 30upx 36upx;
	box-sizing: border-box;
}

.order_tabs{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	box-shadow: 0px 0px 9upx 1upx 
		rgba(0, 0, 0, 0.05);
	border-radius: 10upx;
	padding: 20upx 0;
}
.order_tab_item{
	width: 170upx;
	height: 98upx;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 24upx;
	color: #000000;
	line-height: 1;
}
.order_tab_icon{
	width: 53upx;
	height: 44upx;
}
.list_son{
	height: calc(100% - 138upx);
	padding-top: 20upx;
	box-sizing: border-box;
}